<script type="text/ng-template" id="wonGame.html">
  <div id="gamedUp" >
    <div class="modal-header">
      <h4 class="modal-title" id="loginLabel">You have <span class="play"><em>Gamed Up</em></span>!</h4>
    </div>
    <div class="modal-body login-body center">
      <div class="text"> Try your next challenge! </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-btn btn btn-{{color}} center-btn" ng-click="ok(); mc.updateUser()">Next</button>
    </div>
  </div>
</script>



<div class="container" id="game" ng-cloak ng-controller="GameController as vm" ng-init="vm.loadData()">
  <h2 id ="level" ng-cloak > Level {{vm.user.currentUser.level}} - {{vm.gameName}} </h2> <button id="reset" class="btn modal-btn btn-default" ng-click="vm.reset()"> Try Again </button>
  <div id="gameView">

    <div id="game1" ng-cloak ng-if="vm.user.currentUser.level=='1'">
      <div class="game1-row">
        <div ng-click="vm.addTurn(0)" ng-class="{'animated flipInX': vm.box[0] !== ' '}" class="game1-col script" id="game1-1">{{vm.box[0]}}
        </div>
        <div ng-click="vm.addTurn(1)" ng-class="{'animated flipInX': vm.box[1] !== ' '}" class="game1-col script" id="game1-2">{{vm.box[1]}}
        </div>
        <div ng-click="vm.addTurn(2)" ng-class="{'animated flipInX': vm.box[2] !== ' '}" class="game1-col script" id="game1-3">{{vm.box[2]}}
        </div>
      </div>
       <div class="game1-row">
        <div ng-click="vm.addTurn(3)" ng-class="{'animated flipInX': vm.box[3] !== ' '}" class="game1-col script" id="game1-4">{{vm.box[3]}}
        </div>
        <div ng-click="vm.addTurn(4)" ng-class="{'animated flipInX': vm.box[4] !== ' '}" class="game1-col script" id="game1-5">{{vm.box[4]}}
        </div>
        <div ng-click="vm.addTurn(5)" ng-class="{'animated flipInX': vm.box[5] !== ' '}" class="game1-col script" id="game1-6">{{vm.box[5]}}
        </div>
      </div>
       <div class="game1-row">
        <div ng-click="vm.addTurn(6)" ng-class="{'animated flipInX': vm.box[6] !== ' '}" class="game1-col script" id="game1-7">{{vm.box[6]}}
        </div>
        <div ng-click="vm.addTurn(7)" ng-class="{'animated flipInX': vm.box[7] !== ' '}" class="game1-col script" id="game1-8">{{vm.box[7]}}
        </div>
        <div ng-click="vm.addTurn(8)" ng-class="{'animated flipInX': vm.box[8] !== ' '}" class="game1-col script" id="game1-9">{{vm.box[8]}}
        </div>
      </div>

    </div>

    <div id="game2" ng-cloak ng-if="vm.user.currentUser.level =='2'">
      <div class="instructions text">
        The modern classic! Each 2 x 2 of boxes contains the numbers 1 - 4. Each series of 4 boxes
        vertically and horizontally will contain the numbers 1-4. Figure out the patern to win the game! Select the
        number you wish to guess.
      </div>
      <div id = "numbers">
        <div ng-click="vm.selectedNumber = 1" ng-class="{'active-num': vm.selectedNumber == 1}" class="number btn"> 1 </div>
        <div ng-click="vm.selectedNumber = 2" ng-class="{'active-num': vm.selectedNumber == 2}" class="number btn"> 2 </div>
        <div ng-click="vm.selectedNumber = 3" ng-class="{'active-num': vm.selectedNumber == 3}" class="number btn"> 3 </div>
        <div ng-click="vm.selectedNumber = 4" ng-class="{'active-num': vm.selectedNumber == 4}" class="number btn"> 4 </div>
      </div>

      <div id="sudoku-try" ng-show="vm.tryAgain" class="text">Keep trying!</div>
      <div id="sudoku-board">
        <div class="sudoku-row">
          <div ng-model="vm.box[0]" ng-class="{'set-num': vm.setBox[0]==='true'}" ng-click="vm.box[0] = vm.selectedNumber" class="sudoku-box">{{vm.box[0]}}</div>
          <div ng-model="vm.box[1]" ng-class="{'set-num': vm.setBox[1]==='true'}" ng-click="vm.box[1] = vm.selectedNumber" class="sudoku-box">{{vm.box[1]}}</div>
          <div ng-model="vm.box[2]" ng-class="{'set-num': vm.setBox[2]==='true'}" ng-click="vm.box[2] = vm.selectedNumber" class="sudoku-box">{{vm.box[2]}}</div>
          <div ng-model="vm.box[3]" ng-class="{'set-num': vm.setBox[3]==='true'}" ng-click="vm.box[3] = vm.selectedNumber" class="sudoku-box">{{vm.box[3]}}</div>
        </div>
        <div class="sudoku-row">
          <div ng-model="vm.box[4]" ng-class="{'set-num': vm.setBox[4]==='true'}" ng-click="vm.box[4] = vm.selectedNumber" class="sudoku-box">{{vm.box[4]}}</div>
          <div ng-model="vm.box[5]" ng-class="{'set-num': vm.setBox[5]==='true'}" ng-click="vm.box[5] = vm.selectedNumber" class="sudoku-box">{{vm.box[5]}}</div>
          <div ng-model="vm.box[6]" ng-class="{'set-num': vm.setBox[6]==='true'}" ng-click="vm.box[6] = vm.selectedNumber" class="sudoku-box">{{vm.box[6]}}</div>
          <div ng-model="vm.box[7]" ng-class="{'set-num': vm.setBox[7]==='true'}" ng-click="vm.box[7] = vm.selectedNumber" class="sudoku-box">{{vm.box[7]}}</div>
        </div>
        <div class="sudoku-row">
          <div ng-model="vm.box[8]" ng-class="{'set-num': vm.setBox[8]==='true'}" ng-click="vm.box[8]= vm.selectedNumber" class="sudoku-box">{{vm.box[8]}}</div>
          <div ng-model="vm.box[9]" ng-class="{'set-num': vm.setBox[9]==='true'}" ng-click="vm.box[9]= vm.selectedNumber" class="sudoku-box">{{vm.box[9]}}</div>
          <div ng-model="vm.box[10]" ng-class="{'set-num': vm.setBox[10]==='true'}" ng-click="vm.box[10] = vm.selectedNumber" class="sudoku-box">{{vm.box[10]}}</div>
          <div ng-model="vm.box[11]" ng-class="{'set-num': vm.setBox[11]==='true'}" ng-click="vm.box[11] = vm.selectedNumber" class="sudoku-box">{{vm.box[11]}}</div>
        </div>
        <div class="sudoku-row">
          <div ng-model="vm.box[12]" ng-class="{'set-num': vm.setBox[12]==='true'}" ng-click="vm.box[12] = vm.selectedNumber" class="sudoku-box">{{vm.box[12]}}</div>
          <div ng-model="vm.box[13]" ng-class="{'set-num': vm.setBox[13]==='true'}" ng-click="vm.box[13] = vm.selectedNumber" class="sudoku-box">{{vm.box[13]}}</div>
          <div ng-model="vm.box[14]" ng-class="{'set-num': vm.setBox[14]==='true'}" ng-click="vm.box[14] = vm.selectedNumber" class="sudoku-box">{{vm.box[14]}}</div>
          <div ng-model="vm.box[15]" ng-class="{'set-num': vm.setBox[15]==='true'}" ng-click="vm.box[15] = vm.selectedNumber" class="sudoku-box">{{vm.box[15]}}</div>
        </div>
      </div>
      <button type="button" id="sudoku-submit" ng-click="vm.checkWin()" class="btn btn-default"> Submit </button>
    </div>


    <div id="game4" ng-if="vm.user.currentUser.level=='4'">
      <div class="instructions text">
        The alphabet has been scrambled! To play this game, decode the letters below to discover a secret message!
        Letters that appear more than once in the message will be represented by the same letter!
      </div>
        <div id ="decode-answer"> {{vm.showAnswer}}!</div>
        <div id = "user-code" class = "text">
          <form class="pure-form center" ng-submit="vm.checkWinner()">
            <fieldset class="pure-group center">
              <span  ng-repeat="letter in vm.showAnswer track by $index">
                <span class="space" ng-if="letter === ' '">&nbsp;&nbsp;&nbsp;</span>
                <input type="text" ng-if="letter !== ' '" class="code-input" ng-model="vm.userAnswer[$index]">
              </span><span id="exclaim">!</span>
              <button type="submit" id="submit-code" class="modal-btn btn">Submit</button>
            </fieldset>
          </form>
          <div id="try-again" class="text" ng-if="vm.tryAgain"> Keep trying! </div>
        </div>
    </div>

    <div id="game3" ng-if="vm.user.currentUser.level=='3'">
      <div class="instructions text">
        Click on a box to discover what image is underneath! Match 2 of the same object to unlock the box. Unlock the
        whole board to win the game!
      </div>
      <div id="memory-board">
        <div class="memory-row">
          <div class="black"><img ng-click="vm.displayImage(0)" ng-src="{{vm.viewImage[0]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(1)" ng-src="{{vm.viewImage[1]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(2)" ng-src="{{vm.viewImage[2]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(3)" ng-src="{{vm.viewImage[3]}}" class="memory-box"></div>
        </div>
        <div class="memory-row">
          <div class="black"><img ng-click="vm.displayImage(4)" ng-src="{{vm.viewImage[4]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(5)" ng-src="{{vm.viewImage[5]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(6)" ng-src="{{vm.viewImage[6]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(7)" ng-src="{{vm.viewImage[7]}}" class="memory-box"></div>
        </div>
        <div class="memory-row">
          <div class="black"><img ng-click="vm.displayImage(8)" ng-src="{{vm.viewImage[8]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(9)" ng-src="{{vm.viewImage[9]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(10)" ng-src="{{vm.viewImage[10]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(11)" ng-src="{{vm.viewImage[11]}}" class="memory-box"></div>
        </div>
        <div class="memory-row">
          <div class="black"><img ng-click="vm.displayImage(12)" ng-src="{{vm.viewImage[12]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(13)" ng-src="{{vm.viewImage[13]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(14)" ng-src="{{vm.viewImage[14]}}" class="memory-box"></div>
          <div class="black"><img ng-click="vm.displayImage(15)" ng-src="{{vm.viewImage[15]}}" class="memory-box"></div>
        </div>



      </div>



  </div>

</div>


