<script type="text/ng-template" id="loginModal.html">
  <div id="loginWhole" >
    <div class="modal-header">
      <h4 class="modal-title" id="loginLabel">Login to <span class="play"><em>GameUp</em></span></h4>
    </div>
    <div class="modal-body login-body">
      <form id="log" class="pure-form center" ng-submit="logInUser()">
        <fieldset class="pure-group center">
          <input ng-model="auth.email" type="email" class="email form-control" placeholder="Email" aria-describedby="basic-addon1"><br>
          <input ng-model="auth.password" type="password" class="password form-control" placeholder="Password" aria-describedby="basic-addon1"><br>
          <button type="button" class="modal-btn btn btn-default" ng-click="cancel()">Close</button>
          <button type="submit" class="modal-btn btn btn-{{color}}" >Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</script>


<script type="text/ng-template" id="startedModal.html">
  <div id="startedWhole">
    <div class="modal-header">
      <h4 class="modal-title" id="startedLabel">What is <span class="play"><em>Game Up</em></span>?</h4>
    </div>
    <div class="modal-body">
      <p class="text"><span class="play">GameUp</span> is a gaming platform where users can play puzzles and games to
        unlock new levels of puzzles and games! </p>
      <p class="text">GameUp LEVEL.</p>
      <p class="text"> Beat each game unlock a the next level and gain access to a new game. </p>
    </div>
    <div class="modal-footer" id="started-footer">
      <button type="button" class="btn modal-btn btn-default" ng-click="cancel()">Close</button>
      <button type="button" class="btn modal-btn btn-{{color}}" ng-click="getStarted()">Get Started</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="signUpModal.html">
  <div id="loginWhole" >
    <div class="modal-header">
      <h4 class="modal-title" id="signUpLabel">Sign up for <span class="play"><em>GameUp</em></span></h4>
    </div>
    <div class="modal-body login-body">
      <form id="user" class="pure-form center" ng-submit="createUser()">
        <fieldset class="pure-group center">
          <input type="email"    ng-model="user.email"    class="email form-control" aria-describedby="basic-addon1" placeholder="email"><br>
          <input type="text"     ng-model="user.name"     class="name form-control" placeholder="Name"><br>
          <input type="password" ng-model="user.password" class="password form-control" placeholder="password"><br>
          <input type="date"     ng-model="user.dob"      class="dob form-control" placeholder=""></br>
          <button type="button" class="modal-btn btn btn-default">Close</button>
          <button type="submit" class="modal-btn btn btn-{{color}}" >Submit</button>
        </fieldset>
      </form>

  </div>
</script>

<div class="container-fluid" id="landing" ng-controller="ModalController">
  <div class="container" id="landing-mid">
    <div id="quoteContainer" class="animated fadeInDown">
      <div id="quote" class="play"> GameUp </div>
    </div>
    <div id="intro-buttons" ng-if="showLoginButtons"  class="fadeIn animated">
      <!-- <button id="login" ng-hide="session.isLoggedIn" ng-click="session.facebookLogin()" class="intro btn btn-default" >Login</button> -->
      <span ng-click="openLogin()" class="intro btn btn-default">  Login</span>
      <!-- <span ng-show="session.isLoggedIn" ng-bind="'Hello ' + session.currentUser.name"></span> -->
      <!-- <button ng-show="session.isLoggedIn" ng-click="session.logout()">Logout</button> -->
      <!-- <span id="login" ng-click="openLogin()" class="intro btn btn-default"> Login </span> -->
      <span id="started" ng-click="openStarted()" class="intro btn btn-default" > Get Started </span>
    </div>
  </div>
</div>





